<!DOCTYPE html>
<html lang="en">

<head>
  <style>
   /* Styling the anchor tag to look like a button */
  .new_data {
    display: inline-block;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #4CAF50;
    /* Button background color */
    color: white;
    /* Button text color */
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
  }

  /* Styling the anchor tag when hovered */
  .new_data:hover {
    background-color: #45a049;
    /* Darker green */
  }

  /* CSS styles for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #form-container {
    display: none;
    /* Hide the form by default */

  }

  .actions {
    text-align: right;
  }

  #toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #09a833;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;

  }

  .hidden {
    display: none;
  }
  </style>
</head>

<body>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Subscription-Plans:</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <button type="button" class="btn btn-primary btn-rounded btn-fw" data-toggle="modal"
                data-target="#addRoleModal"><span class="mdi mdi-account-plus"></span>
                Add New Plans
              </button>
                    <tr>
                      <th>Id:</th>
                      <th>Plan-Name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Features</th>
                      <th>Duration-Months </th>
                      <th class="actions">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each plan}}
                    <tr>
                      <td>{{this.plan_id}}</td>
                      <td>{{this.plan_name}}</td>
                      <td>{{this.description}}</td>
                      <td>{{this.price}}</td>
                      <td>{{this.features}}</td>
                      <td>{{this.duration}}</td>
                   <td class="actions">
                               <div class="dropdown">
                      <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                        <button type="button" class="dropdown-item" onclick="UpdateForm('{{this.plan_id}}','{{this.plan_name}}','{{this.description}}','{{this.price}}','{{this.features}}','{{this.duration}}')" data-toggle="modal"
                          data-target="#updatePermissionModal">Edit Plans</button>

                        <button type="button" class="dropdown-item" data-toggle="modal"
                          data-target="#deleteModal" onclick="openDeleteModal('{{this.plan_id}}')">Delete</button>
                      </div>
                    </div>
                     </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- add Modal -->
  <div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addRoleModalLabel">Add New Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addForm" class="forms-sample">
                  
                  <div class="form-group">
                    <label for="plan_name">Plan-Name:</label>
                    <input type="text" class="form-control" id="plan_name" name="plan_name"
                      placeholder="plan_name">
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description"
                      placeholder="Description">
                  </div>
                  <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="price" name="price"
                      placeholder="price">
                  </div>
                  <div class="form-group">
                    <label for="features">Features:</label>
                    <input type="text" class="form-control" id="features" name="features"
                      placeholder="Features">
                  </div>
                  <div class="form-group">
                    <label for="duration">Duration:</label>
                    <input type="text" class="form-control" id="duration" name="duration"
                      placeholder="Duration">
                  </div>
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  {{!-- --}}

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="deleteForm" action="/subPlan/delete" method="post">
                  <div class="form-group">
                    {{!-- <label for="username">Are you sure:</label> --}}
                    <input type="hidden" id="plan_id" name="plan_id" value="{{this.plan_id}}">
                    <!-- Hidden input field to store record ID -->
                    <p id="idDisplay"></p> <!-- Paragraph to display record ID -->
                  </div>
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  <!-- Update Modal -->
  <div class="modal fade" id="updatePermissionModal" tabindex="-1" role="dialog"
          aria-labelledby="updatePermissionModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updatePermissionModalLabel">Update Plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="uploadForm">
                  <div class="form-group">
                    <label for="plan_id">ID:</label>
                    <input type="text" class="form-control" id="pre-plan_id" name="plan_id"
                      placeholder="plan_id">
                  </div>
                  <div class="form-group">
                    <label for="plan_name">Plan-Name:</label>
                    <input type="text" class="form-control" id="pre-plan_name" name="plan_name"
                      placeholder="plan_name">
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="pre-description" name="description"
                      placeholder="Description">
                  </div>
                  <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" id="pre-price" name="price"
                      placeholder="price">
                  </div>
                  <div class="form-group">
                    <label for="features">Features:</label>
                    <input type="text" class="form-control" id="pre-features" name="features"
                      placeholder="Features">
                  </div>
                  <div class="form-group">
                    <label for="duration">Duration:</label>
                    <input type="text" class="form-control" id="pre-duration" name="duration"
                      placeholder="Duration">
                  </div>

                  <button type="submit" class="btn btn-warning">Update Plan</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  <script>
      // Function to open the form
      function openForm() {
        document.getElementById("form-container").style.display = "block";
      }

      // Function to close the form
      function closeForm() {
        document.getElementById("form-container").style.display = "none";
      }

      function openDeleteModal(id) {
        // Set the record ID in the form and display it in the paragraph
        document.getElementById('plan_id').value = id;
        document.getElementById('idDisplay').innerText = 'Are you sure want to delete: ' + id;
        // Show the modal
        $('#deleteModal').modal('show');
      }
      //function to prefill the update  form:
   function UpdateForm(id, plan_name,description,price,features,duration) {
        // Fill the input fields with the data
        document.getElementById('pre-plan_id').value = id;
        document.getElementById('pre-plan_name').value = plan_name;
        document.getElementById('pre-description').value=description;
        document.getElementById('pre-price').value=price;
        document.getElementById('pre-features').value=features;
        document.getElementById('pre-duration').value=duration;

        // Show the modal containing the form
        $('#updatePermissionModal').modal('show');
      }
    
    document.addEventListener('DOMContentLoaded', function () {
      displayMessage('Subscription','3000');
      //------------------------------------------------------------
      document.getElementById('addForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this); // Get form data

        // Create an empty object to store form data
        const formDataObject = {};

        // Iterate over FormData entries and store them in the object
        for (let [key, value] of formData.entries()) {
          // If the key does not exist, simply assign the value to the key
          formDataObject[key] = value;
        }

        // Now you can use formDataObject to access form data
        console.log(formDataObject);

        fetch('/subPlan/add', {
          method: 'POST',
          headers: {
            "content-Type": "application/json"
          },
          body: JSON.stringify(formDataObject)
        })
          .then(response => {
            debugger
            if (response.ok) {
              displayMessage('Add successful','3000');
              window.location.href = '/subscription';
            } else {
              debugger
              response.json().then(data => {
                console.log(data);
                // Display an error message if login fails
                if (!data.success) {
                  debugger
                  displayMessage(data.message);
                } else {
                  displayMessage('An error occurred. Please try again later.','3000');
                }
              }).catch(error => {
                debugger
                displayMessage('An error occurred. Please try again later.','3000');
              });
            }
          })
          .catch(error => {
            debugger
            // Handle any errors that occur during the API request
            console.error('Error:', error);
            displayMessage('An error occurred. Please try again later.','3000');
          });
      });
      //--------------------------------------------
      document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(this); // Get form data

        // Create an empty object to store form data
        const formDataObject = {};

        // Iterate over FormData entries and store them in the object
        for (let [key, value] of formData.entries()) {
          // If the key does not exist, simply assign the value to the key
          formDataObject[key] = value;
        }

        // Now you can use formDataObject to access form data
        console.log(formDataObject);

        fetch('/subPlan/update', {
          method: 'POST',
          headers: {
            "content-Type": "application/json"
          },
          body: JSON.stringify(formDataObject)
        })
          .then(response => {
            debugger
            if (response.ok) {
              displayMessage('update successful','3000');
              window.location.href = '/subscription';
            } else {
              debugger
              response.json().then(data => {
                console.log(data);
                // Display an error message if login fails
                if (!data.success) {
                  debugger
                  displayMessage(data.message);
                } else {
                  displayMessage('An error occurred. Please try again later.','3000');
                }
              }).catch(error => {
                debugger
                displayMessage('An error occurred. Please try again later.','3000');
              });
            }
          })
          .catch(error => {
            debugger
            // Handle any errors that occur during the API request
            console.error('Error:', error);
            displayMessage('An error occurred. Please try again later.','3000');
          });
      });
      //--------------------------------
      document.getElementById('deleteForm').addEventListener('submit',function(event){
        event.preventDefault();
        let formData = new FormData(this);
        const formDataObject = {};
        for(let [key,value] of formData.entries()){
          formDataObject[key] = value;
        }
        console.log(formDataObject);
        fetch('/ework/delete',{
          method:"POST",
          headers:{"content-Type":"application/json"},
          body:JSON.stringify(formDataObject)
        }).then(response=>{
          debugger
          if(response.ok){
            displayMessage('Delete Successful','3000');
            window.location.href='/subscription';
          }
          else{
            response.json().then(data=>{
              debugger
              if(!data.success){
                displayMessage(data.message);
              }
              else{
                displayMessage('Error Occurred','3000');
              }
            }).catch(error=>{
              debugger
              displayMessage('Error Occurred','3000');
            })
          }
        }).catch(error=>{
          debugger
          displayMessage('Error Occurred','3000')
        })
      })

    });
  </script>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>