<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!--
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="../design/vendors/feather/feather.css">
    <link rel="stylesheet" href="../design/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../design/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../design/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../design/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../design/vendors/css/vendor.bundle.base.css">
    <style>
        /* Styling the anchor tag to look like a button */
        .actions {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Holiday list </h3>
                        <button id="new_data" type="button" data-toggle="modal" data-target="#HolidayModal"
                            class="btn btn-primary btn-rounded btn-fw">Add Holiday </button>
                        </a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Related States</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>{{this.holidayDate}}</td>
                                        <td>{{this.holidayName}}</td>
                                        <td>{{this.stateNames}}</td>
                                        <td class="actions">
                                            <div class="dropdown">
                                                <button class="btn btn-danger btn-sm dropdown-toggle" type="button"
                                                    id="dropdownMenuSizeButton3" data-bs-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                                                    <button type="button" id="update_btn"
                                                        onclick="UpdateHoliday('{{this.id}}','{{this.holidayName}}','{{this.holidayDate}}')"
                                                        data-toggle="modal" data-target="#UpdateModal"
                                                        class="dropdown-item  btn-rounded btn-fw">
                                                        Edit
                                                    </button>
                                                    <button type="button" id="delete_btn"
                                                        class="dropdown-item  btn-rounded btn-fw"
                                                        onclick="DeleteHoliday('{{this.id}}')" data-toggle="modal"
                                                        data-target="#DeleteModal">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADD data modal -->
        <div class="modal fade" id="HolidayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Add Expense</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form inside the popup -->
                        <form class="forms-sample" action="/holiday/add" method="Post">
                            <div class="form-group">
                                <label for="holidayDate">Select Date</label>
                                <input type="date" name="holidayDate" id="holidayDate" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="holidayName">Name</label>
                                <input type="text" class="form-control" id="holidayName" name="holidayName"
                                    placeholder="Enter Holiday Name" required>
                            </div>
                            <div class="form-group">
                                <label for="multipleSelect">Select States </label>
                                <select id="multipleSelect" name="multipleSelect" multiple>
                                    <option value=" "> Select </option>
                                </select>
                            </div>
                            {{!-- <div class="form-group">
                                <label for="multipleSelect">Select States</label>
                                <select class="js-example-basic-multiple w-100" multiple="multiple"
                                    name="multipleSelect" id="multipleSelect">
                                    <option value=""> Select </option>
                                </select>
                            </div> --}}
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete modal -->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Delete
                            Holiday</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/holiday/delete" method="post">
                            <label for="id">Are you sure, Do You
                                want to delete</label>
                            <input type="hidden" id="id_" name="id_" value="{{this.id}}">
                            <button id="delete_data" class="delete_btn" type="submit">DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- update modal -->
        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Update Holiday</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form inside the popup -->
                        <form class="forms-sample" action="/holiday/update" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="id_" name="id_">
                            </div>
                            <div class="form-group">
                                <label for="holidayDate_update">Holiday Date</label>
                                <input type="date" class="form-control" id="holidayDate_update"
                                    name="holidayDate_update" placeholder="Enter Holiday Name">
                            </div>
                            <div class="form-group">
                                <label for="holidayName_update">Holiday Name </label>
                                <input type="text" class="form-control" id="holidayName_update"
                                    name="holidayName_update" placeholder="Enter Holiday Name ">
                            </div>
                            <div class="form-group">
                                <label for="multipleSelect_update">Select States </label>
                                <select class="js-example-basic-multiple w-100" id="multipleSelect_update"
                                    name="multipleSelect_update" multiple>
                                    <option value=" "> Select </option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            {{!-- <button class="btn btn-light">Cancel</button>
                            --}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        fetch('/dynamic-states')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const roleDropdown = document.getElementById('multipleSelect');
                data.forEach(state => {
                    const option = document.createElement('option');
                    option.value = state.id;
                    option.textContent = state.stateName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    });

    document.addEventListener('DOMContentLoaded', function () {
        const roleDropdown = document.getElementById('multipleSelect');

        // Initialize an array to store selected options
        let selectedOptions = [];

        // Function to toggle selected state of options
        function toggleOption(option) {
            if (option.selected) {
                selectedOptions.push(option.value);
            } else {
                const index = selectedOptions.indexOf(option.value);
                if (index !== -1) {
                    selectedOptions.splice(index, 1);
                }
            }
        }

        // Event listener for click event on options
        roleDropdown.addEventListener('click', function (event) {
            const option = event.target;
            if (option.tagName === 'OPTION') {
                option.selected = !option.selected;
                toggleOption(option);
                console.log(selectedOptions);
            }
        });

        // Fetch states data from the server
        fetch('/dynamic-states')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                data.forEach(state => {
                    const option = document.createElement('option');
                    option.value = state.id;
                    option.textContent = state.stateName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));
    });



    function UpdateHoliday(id, holidayName, holidayDate) {
        document.getElementById('id_').value = id;
        document.getElementById('holidayName_update').value = holidayName;
        document.getElementById('holidayDate_update').value = holidayDate;
        $('#UpdateModal').modal('show');
    };

    function DeleteHoliday(id) {
        document.getElementById('id_').value = id;
        $('#DeleteModal').modal('show');
    }

</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>