<!DOCTYPE html>
<html lang="en">

<head>
 <link rel="stylesheet" href="../design/vendors/feather/feather.css">
  <link rel="stylesheet" href="../design/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../design/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../design/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../design/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../design/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../design/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../design/images/favicon.png" />
  <style>
   /* Styling the anchor tag to look like a button */
  .new_data {
    display: inline-block;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #4CAF50;
    /* Button background color */
    color: white;
    /* Button text color */
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
  }

  /* Styling the anchor tag when hovered */
  .new_data:hover {
    background-color: #45a049;
    /* Darker green */
  }

  /* CSS styles for the close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #form-container {
    display: none;
    /* Hide the form by default */

  }

  .actions {
    text-align: right;
  }

  .search-box {
  position: relative;
}

.search-box input[type="text"] {
  padding-right: 30px;
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-box .search-icon i {
  font-size: 20px;
}

  </style>
</head>

<body>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Department:</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                    <button type="button" class="btn btn-primary btn-rounded btn-fw" data-toggle="modal"
                data-target="#addRoleModal"><span class="mdi mdi-account-plus"></span>
                Add New Department
              </button>
              <div class="search-box">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="search-icon"><i id="search" class="mdi mdi-magnify"></i></span>
        </div>
        </div>
                    <tr>
                      <th>Id:</th>
                      <th>Department-Name:</th>
                      {{!-- <th>Company ID:</th> --}}
                      <th>Head of Department</th>
                      <th>Description</th>
                      <th>Status</th>
                      <th class="actions">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each department}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.departmentName}}</td>
                      {{!-- <td>{{this.Company_Id}}</td> --}}
                      <td>{{this.headOfDepartment}}</td>
                      <td>{{this.description}}</td>
                      <td>{{this.status}}</td>
                      <td class="actions">
                               <div class="dropdown">
                      <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                        <button type="button" class="dropdown-item  btn-rounded btn-fw" data-toggle="modal"
                          data-target="#updatePermissionsModal" id="update_data"
                          onclick="UpdateForm('{{this.id}}','{{this.departmentName}}','{{this.headOfDepartment}}','{{this.description}}','{{this.status}}')">Edit Department</button>

                        <button type="button" class="dropdown-item  btn-rounded btn-fw" data-toggle="modal"
                          data-target="#deleteModal" onclick="openDeleteModal('{{this.id}}')">Delete</button>
                      </div>
                    </div>
                     </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- add Modal -->
  <div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addRoleModalLabel">Add New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addForm" action="/Department/add" method="post">
                  <div class="form-group">
                    <label for="departmentName">Department Name:</label>
                    <input type="text" class="form-control" id="departmentName" name="departmentName" placeholder="Enter Department Name">
                  </div>
                  {{!-- <div class="form-group">
                    <label for="Company_Id">Company Id:</label>
                    <input type="text" class="form-control" id="Company_Id" name="Company_Id" placeholder="Enter Company Id">
                  </div> --}}
                  <div class="form-group">
                    <label for="headOfDepartment">Head of Department:</label>
                    <input type="text" class="form-control" id="headOfDepartment" name="headOfDepartment" placeholder="Enter Head Of Department Name">
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description">
                  </div>
                  <div class="form-group">
                      <label for="status">Status</label>
                        <select class="form-control" name="status">
                          <option value="active">Active</option>
                          <option value="inactive">In-Active</option>
                        </select>
                      </div>
                  <button type="submit" class="btn btn-primary" id="add">Add Department</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  {{!-- --}}

    <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="deleteForm" action="/Department/delete" method="post">
                  <div class="form-group">
                    <input type="hidden" id="recordId" name="id" value="{{this.id}}">
                    <!-- Hidden input field to store record ID -->
                    <p id="recordIdDisplay"></p> <!-- Paragraph to display record ID -->
                  </div>
                  <button type="submit" class="btn btn-danger" id="del">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{!--  --}}
         <!-- Update Modal -->
  <div class="modal fade" id="updatePermissionsModal" tabindex="-1" role="dialog"
          aria-labelledby="updatePermissionsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updatePermissionsModalLabel">Update Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="updateForm" action="/Department/update" method="post">
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="text" class="form-control" id="pre-id" name="id" placeholder="Enter ID">
                  </div>
                  <div class="form-group">
                    <label for="departmentName">Department Name:</label>
                    <input type="text" class="form-control" id="pre-departmentName" name="departmentName" placeholder="Enter Department Name">
                  </div>
                  {{!-- <div class="form-group">
                    <label for="Company_Id">Company Id:</label>
                    <input type="text" class="form-control" id="pre-Company_Id" name="Company_Id" placeholder="Enter Company Id">
                  </div> --}}
                  <div class="form-group">
                    <label for="headOfDepartment">Head of Department:</label>
                    <input type="text" class="form-control" id="pre-headOfDepartment" name="headOfDepartment" placeholder="Enter Head Of Department Name">
                  </div>
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="pre-description" name="description" placeholder="Enter Description">
                  </div>
                  <div class="form-group">
                      <label for="status">Status</label>
                        <select class="form-control" name="status">
                          <option value="active">Active</option>
                          <option value="inactive">In-Active</option>
                        </select>
                      </div>
                  <button type="submit" class="btn btn-warning" id="upload-btn">Update Department</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{!--  --}}
        <script>
          
            // Function to open the form
    function openForm() {
      document.getElementById("form-container").style.display = "block";
    }

    // Function to close the form
    function closeForm() {
      document.getElementById("form-container").style.display = "none";
    }

    function openDeleteModal(recordId) {
      // Set the record ID in the form and display it in the paragraph
      document.getElementById('recordId').value = recordId;
      document.getElementById('recordIdDisplay').innerText = 'Are you sure want to delete: ' + recordId;
      // Show the modal
      $('#deleteModal').modal('show');
    }

    //function to prefill the update  form:
   function UpdateForm(id,departmentName,headOfDepartment,description,status) {
        // Fill the input fields with the data
        document.getElementById('pre-id').value = id;
        document.getElementById('pre-departmentName').value = departmentName;
       // document.getElementById('pre-Company_Id').value =Company_Id ;
        document.getElementById('pre-headOfDepartment').value = headOfDepartment;
        document.getElementById('pre-description').value = description;
        document.getElementById('pre-status').value = status;

        // Show the modal containing the form
        $('#updatePermissionModal').modal('show');
      }
      document.addEventListener('DOMContentLoaded',function(){
        displayMessage('Department','3000')
      })
        </script>
        
        {{!-- <script src="/./javascript/role.js"></script> --}}
</body>
</html>