<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        /* CSS styles for the close button */
    </style>
</head>

<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">My leaves :</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>


                                        <tr>
                                            <th>Leave type</th>
                                            <th>Month</th>
                                            <th>Total leaves</th>
                                            <th>Leaves taken</th>
                                            <th>Leaves Expiry</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each data}}
                                        <tr>

                                            <td>{{this.Leave_type_name}}</td>
                                            <td>{{this.Month_name}}</td>
                                            <td>{{this.totalLeaves}}</td>
                                            <td>{{this.leavesTaken}}</td>
                                            <td>{{this.expiryDate}}</td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- Bootstrap JS (jQuery and Popper.js are required too) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
</body>

</html>