<!DOCTYPE html>
<html lang="en">

<head>



    <style>
        
        .emp{
           margin-right: 20px;
        }

        .search_button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 3px 15px;
            cursor: pointer;
            border-radius: 5px;
            margin-left: 20px;
           
        }

        .sub-dropdown {
            display: none;
        }



        /* Custom CSS for horizontal and non-scrollable modal */
        .horizontal-modal {
            max-width: 100%;
            width: 80%;
            margin: 0;
            margin-left: 10%;
        }
    </style>
</head>

<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Leave Balance management</h3>

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <a type="button" class="btn btn-primary " data-toggle="modal"
                                    data-target="#AddModal">Add
                                    data</a>


                                <form class="forms-sample" action="/LeaveBalance/search" method="post">
                                    <div class="d-flex">
                                       
                                            <label for="employee" class="emp">Employee :</label>
                                            <select class="form-select js-example-basic-single w-100" id="Employee_s"
                                                name="Employee_id">

                                                <option value="">Select </option>
                                            </select>                                
                                        <button type="submit" class="search_button">Go</button>
                                    </div>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>

                                        <tr>

                                            <th>Employee name</th>
                                            <th>Month</th>
                                            <th>Leave type</th>
                                            <th>Total leaves</th>
                                            <th>Leaves taken</th>
                                            <th>Leave Expiry</th>
                                            <th>Action</th>

                                        </tr>

                                    </thead>
                                    <tbody>

                                        {{#each data}}
                                        <tr>
                                            <td>{{this.employeeName}}</td>
                                            <td>{{this.Month_name}}</td>
                                            <td>{{this.Leave_type_name}}</td>
                                            <td>{{this.totalLeaves}}</td>
                                            <td>{{this.leavesTaken}}</td>
                                            <td>{{this.expiryDate}}</td>

                                            <td class="actions">
                                                <div class="dropdown">
                                                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button"
                                                        id="dropdownMenuSizeButton3" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </button>
                                                    <div class="dropdown-menu"
                                                        aria-labelledby="dropdownMenuSizeButton3">



                                                        <button type="button" id="update_data"
                                                            class="dropdown-item  btn-rounded btn-fw"
                                                            onclick="UpdateRequest('{{this.balance_id}}','{{this.totalLeaves}}','{{this.leavesTaken}}')"
                                                            data-toggle="modal" data-target="#editModal">
                                                            Edit
                                                            <i class="ti-file btn-icon-append"></i>
                                                        </button>




                                                        <button type="button" id="delete_data"
                                                            class="dropdown-item  btn-rounded btn-fw"
                                                            data-toggle="modal" data-target="#DeleteModal"
                                                            data-bal_id="{{this.balance_id}}">Delete</button>


                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ADD data modal -->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog horizontal-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Leave details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form inside the popup -->


                    <form class="forms-sample" action="/LeaveBalance/add" method="post">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="main-dropdown" class="col-sm-3 col-form-label">Select
                                        category :</label>
                                    <div class="col-sm-7">
                                        <select class="form-select" id="main-dropdown" onchange="toggleSubDropdown()">
                                            <option value="">Select</option>
                                            <option value="department">Department</option>
                                            <option value="employee">Employee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div id="department-dropdown" class="sub-dropdown">
                                    <div class="form-group row">
                                        <label for="id" class="col-sm-3 col-form-label">Department :</label>
                                        <div class="col-sm-7">
                                            <select class="form-select" id="department_id" name="department_id">
                                                <option value="">Select </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div id="employee-dropdown" class="sub-dropdown">
                                    <div class="form-group row">
                                        <label for="id" class="col-sm-3 col-form-label">Employee :</label>
                                        <div class="col-sm-7">
                                            <select class="form-select" id="Employee_id" name="Employee_id">
                                                <option value="">Select </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="Leave_type_id" class="col-sm-3 col-form-label">Leave type :</label>
                                    <div class="col-sm-7">
                                        <select class="form-select" id="Leave_type_id" name="Leave_type_id" required>
                                            <option value="">Select </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="id" class="col-sm-3 col-form-label">Month :</label>
                                    <div class="col-sm-7">
                                        <select class="form-select" id="Month_id" name="Month_id" required>
                                            <option value="">Select </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="expiryDate" class="col-sm-3 col-form-label">Expiry Date :</label>
                                    <div class="col-sm-7">
                                        <input type="date" class="form-control" id="expiryDate" name="expiryDate">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="totalLeaves" class="col-sm-3 col-form-label">Total leaves :</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="totalLeaves" name="totalLeaves"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- <div class="form-group">
                            <label for="leavesTaken">Leaves taken</label>
                            <input type="text" class="form-control" id="leavesTaken" name="leavesTaken" required>
                        </div> --}}

                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- new Delete modal -->
    <!-- Delete modal -->
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Delete data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/LeaveBalance/delete" method="post">

                        <label for="id">Are you sure you want to delete?</label>
                        <!-- Hidden input field to store the req_id -->
                        <input type="hidden" id="deleteReqId" name="balance_Id">
                        {{!-- <p>Request ID: <span id="requestIdDisplay"></span></p> --}}
                        <button class="btn btn-danger" type="submit">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- update modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Update data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form inside the popup -->
                    <form class="forms-sample" action="/LeaveBalance/edit" method="post">

                        <div class="form-group">

                            <input type="hidden" id="id_" name="id_">
                        </div>

                        <div class="form-group">
                            <label for="total_leaves">Total Leaves</label>
                            <input type="text" class="form-control" id="total_leaves" name="totalLeaves">
                        </div>
                        <div class="form-group">
                            <label for="leaves_taken">Leaves taken</label>
                            <input type="text" class="form-control" id="leaves_taken" name="leavesTaken">
                        </div>



                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        {{!-- <button class="btn btn-light">Cancel</button> --}}
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script>

        // Fetch data from the server and populate the dropdown
        fetch('/LeaveBalance/employee')
            .then(response => response.json())
            .then(data => {
                const roleDropdown = document.getElementById('Employee_s');
                data.forEach(employee => {
                    const option = document.createElement('option');
                    option.value = employee.id;
                    option.textContent = employee.fullName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));




        // Fetch data from the server and populate the dropdown
        fetch('/LeaveBalance/department')
            .then(response => response.json())
            .then(data => {
                const roleDropdown = document.getElementById('department_id');
                data.forEach(department => {
                    const option = document.createElement('option');
                    option.value = department.id;
                    option.textContent = department.departmentName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));




        // Fetch data from the server and populate the dropdown
        fetch('/LeaveBalance/employee')
            .then(response => response.json())
            .then(data => {
                const roleDropdown = document.getElementById('Employee_id');
                data.forEach(employee => {
                    const option = document.createElement('option');
                    option.value = employee.id;
                    option.textContent = employee.fullName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));




        // Fetch data from the server and populate the dropdown
        fetch('/Leave/leaveType-dropdown')
            .then(response => response.json())
            .then(data => {
                const roleDropdown = document.getElementById('Leave_type_id');
                data.forEach(leave_type => {
                    const option = document.createElement('option');
                    option.value = leave_type.id;
                    option.textContent = leave_type.typeName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));




        // Fetch data from the server and populate the dropdown
        fetch('/LeaveBalance/month')
            .then(response => response.json())
            .then(data => {
                const roleDropdown = document.getElementById('Month_id');
                data.forEach(month => {
                    const option = document.createElement('option');
                    option.value = month.id;
                    option.textContent = month.monthName;
                    roleDropdown.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching data:', error));



        function toggleSubDropdown() {
            var mainDropdown = document.getElementById("main-dropdown");
            var departmentDropdown = document.getElementById("department-dropdown");
            var employeeDropdown = document.getElementById("employee-dropdown");

            if (mainDropdown.value === "department") {
                departmentDropdown.style.display = "block";
                employeeDropdown.style.display = "none";
            } else if (mainDropdown.value === "employee") {
                departmentDropdown.style.display = "none";
                employeeDropdown.style.display = "block";
            } else {
                departmentDropdown.style.display = "none";
                employeeDropdown.style.display = "none";
            }
        }



        $(document).ready(function () {
            // Event listener for when the delete modal is shown
            $('#DeleteModal').on('show.bs.modal', function (event) {
                // Extract the req_id from the button that triggered the modal
                const button = $(event.relatedTarget);
                const balance_Id = button.data('bal_id');

                // Set the req_id as the value of the hidden input field
                $('#deleteReqId').val(balance_Id);

                // Display the req_id in the modal for reference (optional)
                $('#requestIdDisplay').text(balance_Id);
            });
        });




        function UpdateRequest(balance_id, totalLeaves, leavesTaken) {

            console.log('balance id :', balance_id);
            console.log('total leaves : ', totalLeaves);
            console.log('taken leaves :', leavesTaken);
            document.getElementById('id_').value = balance_id;

            document.getElementById('total_leaves').value = totalLeaves;
            document.getElementById('leaves_taken').value = leavesTaken;


            $('#UpdateModal').modal('show');
        };


    </script>




    <!-- Bootstrap JS (jQuery and Popper.js are required too) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>