 <title>Subscription Plans</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .card {
  border: none;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-features {
  padding-left: 0;
  list-style-type: none;
}

.card-features li {
  margin-bottom: 5px;
}

.subscribe-btn {
  width: 100%;
}

  </style>
</head>
<body>

<div class="container">
  <h1 class="text-center my-5">Plans</h1>
  <div id="plans-container" class="row justify-content-center">
    {{#each plans}}
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{this.plan_name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <h6 class="card-subtitle mb-2 text-muted">Rs. {{this.price}}</h6>
          <ul class="card-features">
            
            <li>{{this.features}}</li>
          
          </ul>
          <p class="card-duration">Duration: {{this.duration}} Month</p>
          <button class="btn btn-primary btn-rounded btn-fw subscribe-btn" data-plan-id="{{this.plan_id}}">Subscribe</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
  $('.subscribe-btn').click(function() {
    const planId = $(this).data('plan-id');
    // Handle subscription logic here
    alert(`Subscribed to plan with ID ${planId}`);
  });
});

</script>
</body>
</html>