<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../design/vendors/feather/feather.css">
  <link rel="stylesheet" href="../design/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../design/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../design/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../design/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../design/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../images/favicon.png" />
  <style>


    /* Reduce space between elements */
    .form-group {
      margin-bottom: 5px;
      /* Reduced margin */
    }

    /* Adjust modal size */
 
  </style>
</head>

<body>
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">User Management</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <!-- Button to trigger the modal -->
                    <button type="button" class="btn btn-primary btn-rounded btn-fw" data-toggle="modal"
                      data-target="#addRoleModal"><span class="mdi mdi-account-plus"></span>
                      Add New User</button>
                    <tr>
                      <th>id</th>
                      <th>Employee Name</th>
                      <th>username</th>
                      <th>Role Name</th>
                      <th>status</th>
                      <th>created at</th>
                      <th class="actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each user}}
                    <tr>
                      <td>{{this.id}}</td>
                      <td>{{this.employee_name}}</td>
                      <td>{{this.username}}</td>
                      <td>{{this.role_name}}</td>
                      <td>{{this.status}}</td>
                      <td>{{this.creationDate}}</td>
                      <td class="actions">
                        <div class="dropdown">
                          <button class="btn btn-danger btn-sm dropdown-toggle" type="button"
                            id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Action
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                            <a class="dropdown-item"
                              onclick="UpdateForm('{{this.id}}','{{this.role_name}}','{{this.status}}')"
                              data-toggle="modal" data-target="#updateUserModal">edit</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#deleteidModal"
                              onclick="openDeleteModal('{{this.id}}')">Delete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{{!-- add modal --}}
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRoleModalLabel">Add New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="myForm" class="forms-sample" action="/users/adduser" method="post" onsubmit="return validateForm()">
            <div class="form-group">
              <label for="Employee_id">Employee Name</label>
              <select class="form-control" id="Employee_id" name="Employee_id">
                <option value="">Select Employee</option>
              </select>
            </div>

            <div class="form-group">
              <label for="age">username</label>
              <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter username" autocomplete="off">
                <span id="usernameStatus" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                placeholder="Confirm password">
              {{!-- <div id="passwordMatchStatus"></div> --}}
              <span id="passwordMatchStatus" class="invalid-feedback"></span>
              
            </div>
            <div class="form-group">
              <label for="roleName">Select role:</label>
              <select class="form-control" id="roleName" name="Role_id">
                <option value="">Select</option>
              </select>
            </div>
            <div class="form-group">
              <label for="status">status</label>
              <select class="form-control" name="status">
                <option value="active">active</option>
                <option value="inactive">inactive</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary me-2 mt-3">Submit</button>
          </form>
        </div>
        <div id="toast" class="toast"></div>
      </div>
    </div>
  </div>


  {{!-- --}}


  <!-- Delete Modal -->
  <div class="modal fade" id="deleteidModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="deleteForm" action="/users/deleteuser" method="post">
            <div class="form-group">
              <label for="id">Are you sure:</label>
              <input type="hidden" id="recordid" name="id" value="{{this.id}}">
              <p id="recordidDisplay"></p>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Update Modal -->
  <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateUserModalLabel">Update User Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/updateuser" method="post">
            <div class="form-group">
              <input type="hidden" class="form-control" id="id" name="id">
            </div>
            <div class="form-group">
              <label for="roleName">Select role:</label>
              <select id="roleName1" name="Role_id" class="form-control">
                <option value="">Select </option>
              </select>
            </div>
            <div class="form-group">
              <label for="status">status</label>
              <select name="status" class="form-control">
                <option value="active">active</option>
                <option value="inactive">inactive</option>
              </select>
            </div>

            <button type="submit" class="btn btn-warning mt-3">Update Employee</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="/../javascripts/user.js">


  </script>


</body>

</html>